/* 顶部导航栏 */
 .c_nav {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0.16rem;
    width: 100%;
    height: 0.56rem;
}

.c_nav_1 {
    position: relative;
}

.c_logo {
    width: 2.08rem;
    height: 0.32rem;
    background-color: transparent;
}

.c_menu,
.c_phone {
    height: 0.28rem;
    height: 0.28rem;
    background-color: transparent;
}

.c_menu {
    margin-left: 0.12rem;
}
/* 
.c_nav_1:hover .c_nav_2 {
    right: -0.16rem;
} */

.c_nav_back {
    position: absolute;
    top: 0;
    right: -0.16rem;
    width: 1rem;
    height: 1rem;
    background: rgba(0, 0, 0, 0.6);
}

.c_nav_2 {
    position: fixed;
    top: 0;
    right: -2.61rem;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    transition: all .5s;
    z-index: 6;
    width: 2.45rem;
    height: 100%;
}

.c_nav_2_1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0.16rem 0 0.24rem;
    width: 100%;
    height: 0.56rem;
    background-color: #1D6CBF;
}

.c_phone_1 {
    display: flex;
    align-items: center;
    font-size: 0.22rem;
    font-weight: 700;
    color: #fff;
    line-height: 1;
}

.c_phone_1_1 {
    margin-right: 0.05rem;
    width: 0.26rem;
    height: 0.26rem;
    background-color: transparent;
}

.c_cha {
    width: 0.24rem;
    height: 0.24rem;
    background-color: transparent;
}

.c_nav_2_2 {
    padding: 0.16rem 0.16rem 0 0.24rem;
    width: 100%;
    height: calc(100% - 0.56rem);
    overflow-y: scroll;
    background-color: pink;
}

.c_nav_2__active {
    right: 0;
}

.c_nav_2_2>li {
    position: relative;
    font-size: 0.18rem;
    font-weight: 400;
    line-height: 1;
    color: #252626;
    transition: all .2s;
}

.c_nav_details_2__active {
    font-weight: 700;
    color: #1D6CBF;
}

.c_nav_details_2__active img {
    transform: rotate(90deg);
    opacity: 1;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
}

.c_nav_details_2 {
    position: relative;
    padding-top: 0.21rem;
    display: block;
    width: 100%;
    height: 0.6rem;
    font-size: 0.18rem;
    border-bottom: 0.01rem solid #E1E3E5;
}

.c_nav_details img,
.c_nav_details_2 img {
    float: right;
    margin-top: 0.01rem;
    width: 0.16rem;
    height: 0.16rem;
    background-color: transparent;
    transition: all .2s;
}

.c_nav_details img {
    position: absolute;
    top: 0.21rem;
    right: 0;
    opacity: 0;
}

.c_nav_details .c_nav_details_1__active {
    display: block;
}

.c_nav_details_1 {
    display: none;
    padding-top: 0.3rem;
}

/* .c_nav_details_1 li {
    height: 0;
}
.c_nav_2_2 li:hover .c_nav_details_1 li {

} */

.c_nav_details_1 a {
    display: block;
    margin-bottom: 0.28rem;
    font-size: 0.16rem;
}

.c_nav_details_1 li:last-child a {
    margin-bottom: 0.14rem;
}

.c_nav_details_1 li:hover a {
    color: #1D6CBF;
}

.c_nav_2_mask {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0;
    transition: all 200ms;
    -webkit-transition: all 200ms;
    -moz-transition: all 200ms;
    -ms-transition: all 200ms;
    -o-transition: all 200ms;
}

.c_nav_2_mask__active {
    display: block;
    z-index: 1;
    opacity: 1;
    transition: all 200ms;
    -webkit-transition: all 200ms;
    -moz-transition: all 200ms;
    -ms-transition: all 200ms;
    -o-transition: all 200ms;
}